body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u120 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u122 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u123 {
  position:absolute;
  left:18px;
  top:288px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u125 {
  position:absolute;
  left:18px;
  top:331px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u127 {
  position:absolute;
  left:18px;
  top:200px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u129 {
  position:absolute;
  left:18px;
  top:243px;
  width:87px;
  height:24px;
  font-size:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:271px;
}
#u131 {
  position:absolute;
  left:153px;
  top:98px;
  width:1px;
  height:270px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u132 {
  position:absolute;
  left:2px;
  top:127px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:271px;
}
#u133 {
  position:absolute;
  left:153px;
  top:139px;
  width:1px;
  height:270px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u134 {
  position:absolute;
  left:2px;
  top:127px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:271px;
}
#u135 {
  position:absolute;
  left:153px;
  top:182px;
  width:1px;
  height:270px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u136 {
  position:absolute;
  left:2px;
  top:127px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:271px;
}
#u137 {
  position:absolute;
  left:153px;
  top:225px;
  width:1px;
  height:270px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u138 {
  position:absolute;
  left:2px;
  top:127px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FBD5D9;
}
#u139 {
  position:absolute;
  left:204px;
  top:251px;
  width:81px;
  height:16px;
  color:#FBD5D9;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  background:inherit;
  background-color:rgba(251, 216, 226, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:54px;
  top:489px;
  width:199px;
  height:40px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:84px;
  top:287px;
  width:184px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u144 {
  position:absolute;
  left:84px;
  top:204px;
  width:184px;
  height:25px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u145 {
  position:absolute;
  left:84px;
  top:330px;
  width:184px;
  height:25px;
}
#u145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u146 {
  position:absolute;
  left:18px;
  top:372px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:271px;
}
#u148 {
  position:absolute;
  left:153px;
  top:266px;
  width:1px;
  height:270px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u149 {
  position:absolute;
  left:2px;
  top:127px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:105px;
  top:371px;
  width:165px;
  height:25px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:54px;
  top:489px;
  width:199px;
  height:40px;
}
#u152 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
