body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:264px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:57px;
  top:0px;
  width:186px;
  height:264px;
}
#u102 {
  position:absolute;
  left:2px;
  top:124px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u103 {
  position:absolute;
  left:85px;
  top:75px;
  width:35px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u105 {
  position:absolute;
  left:85px;
  top:120px;
  width:35px;
  height:38px;
}
#u106 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u107 {
  position:absolute;
  left:85px;
  top:38px;
  width:35px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:63px;
  top:12px;
  width:57px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u111 {
  position:absolute;
  left:130px;
  top:39px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u113 {
  position:absolute;
  left:130px;
  top:84px;
  width:87px;
  height:28px;
  font-size:24px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u115 {
  position:absolute;
  left:130px;
  top:130px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:122px;
  top:211px;
  width:57px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u101.a {
  width:252px;
  height:358px;
}
#u101_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:358px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102.a {
  top:171px;
  width:248px;
}
#u103.a {
  left:95px;
  top:102px;
  width:47px;
  height:49px;
}
#u103_img.a {
  width:47px;
  height:49px;
}
#u104.a {
  top:16px;
  width:43px;
}
#u105.a {
  left:95px;
  top:163px;
  width:47px;
  height:51px;
}
#u105_img.a {
  width:47px;
  height:51px;
}
#u106.a {
  top:18px;
  width:43px;
}
#u107.a {
  left:95px;
  top:51px;
  width:47px;
  height:39px;
}
#u107_img.a {
  width:47px;
  height:39px;
}
#u108.a {
  top:12px;
  width:43px;
}
#u109.a {
  left:65px;
  top:16px;
}
#u109_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110.a {
}
#u111.a {
  left:156px;
  top:53px;
}
#u111_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u112.a {
}
#u113.a {
  left:156px;
  top:114px;
}
#u113_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u114.a {
}
#u115.a {
  left:156px;
  top:176px;
}
#u115_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u116.a {
}
#u117.a {
  left:145px;
  top:286px;
}
#u117_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118.a {
}
